* {
    box-sizing: border-box;
}

#canvas {
    background-color: #3a5b8c;
    padding: 40px;
    position: relative;
    width: 900px;
    height: 600px;
    margin: auto;
}

#canvas.game {
    padding: 15px;
}

form {
    margin-top: 70px;
}

form button {
    margin-top: 15px;
}

form input {
    border: 2px solid #808080;
    margin-bottom: 15px;
    width: 360px;
    display: block;
}

#error {
    height: 30px;
    color: #ec8024;
}

#intro {
    position: absolute;
    width: 250px;
    height: 382px;
    top: 109px;
    right: 85px;
}

#intro p {
    position: absolute;
    width: 200px;
    top: 140px;
    right: 25px;
}

#game {
    border: 5px solid #ffffff;
    height: 490px;
}

.notificationPopUp {
    width: 850px;
    height: 470px;
    position: relative;
    top: 5px;
    left: 5px;
    background-color: #FFFFFF;
    display: none;
    box-shadow: 0 0 20px -2px rgba(255,255,255,0.94);
}

#hiddenPopups {
    display: none;
}

.dieScreen {
    font-size: 170%;
    text-align: center;
    padding-top: 60px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #ffffff;
    padding: 20px;
}

footer button {
    padding: 10px 40px;
    width: 200px;
    top: 140px;
    right: 25px;
}