#canvas {
    background-color: #3a5b8c;
    padding: 40px;
    position: relative;
    width: 900px;
    height: 600px;
    margin: auto;
    overflow: hidden;
}

#canvas.game {
    padding: 15px;
}

form {
    margin-top: 70px;
}

form button {
    margin-top: 15px;
}

form input {
    border: 2px solid #808080;
    margin-bottom: 15px;
    width: 360px;
    display: block;
}

#error {
    height: 30px;
    color: #ec8024;
}

#intro {
    position: absolute;
    width: 250px;
    height: 382px;
    top: 109px;
    right: 85px;
}

#intro p {
    position: absolute;
    width: 200px;
    top: 140px;
    right: 25px;
}

#game {
    border: 5px solid #ffffff;
    height: 490px;
    overflow: hidden;
    position: relative;
}

#game .notificationPopUp {
    width: 850px;
    height: 470px;
    position: relative;
    top: 5px;
    left: 5px;
}

.notificationPopUp {
    height: 560px;
    width: 860px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    background-color: #FFFFFF;
    display: none;
    box-shadow: 0 0 20px -2px rgba(255,255,255,0.94);
}

.notificationPopUp h1 {
    color: #3a5b8c;
}

#hiddenPopups {
    display: none;
    z-index: 2;
}

.dieScreen {
    font-size: 170%;
    text-align: center;
    padding-top: 60px;
}

.wideButton {
    width: 198px;
}

#leaderScreen {
    padding: 20px;
}

#leaders th {
    padding-right: 90px;
}

#leaders td {
    padding: 10px 70px 0 10px;;
    font-size: 120%;
}

#leaderTree {
    height: 450px;
}

#rulesScreen {
    width: 100%;
    font-size: 100%;
    text-align: left;
    box-shadow: 0 0 20px -2px rgba(255,255,255,0.94);
    padding-top: 30px;
    padding-left: 20px;
}

.controlsContainer img {
    height: 30px;
}

#rulesScreen h2 {
    margin-top: 0;
}

.controlsContainer {
    margin-bottom: 10px;
    overflow: auto;
    margin-left: 15px;
}

.controlsContainer p {
    margin: 5px 0 0 20px;
}

#spacebar p {
    font-size: 12px;
    color: black;
    text-align: center;
    margin: 6px 0 0 0;
}

#spacebar {
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    margin-left: 0;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #ffffff;
    padding: 15px;
}

footer button {
    padding: 10px 40px;
    width: 200px;
    top: 140px;
    right: 25px;
}

#timer {
    background-color: #FFFFFF;
    width: 150px;
    height: 50px;
    padding-top: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#error {
    height: 30px;
    color: #ec8024;
}

.snowball.medium {
    width: 30px;
    height: 30px;
    top: 50px;
    left: 500px;
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

.snowball.extraSmall {
    width: 10px;
    height: 10px;
    top: 50px;
    left: 600px;
    -webkit-animation: flickerAnimation 3s infinite;
    -moz-animation: flickerAnimation 3s infinite;
    -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;
}

.snowball.small {
    width: 20px;
    height: 20px;
    top: 50px;
    left: 700px;
    -webkit-animation: flickerAnimation 4s infinite;
    -moz-animation: flickerAnimation 4s infinite;
    -o-animation: flickerAnimation 4s infinite;
    animation: flickerAnimation 4s infinite;
}

.snowball.big {
    width: 40px;
    height: 40px;
    top: 50px;
    left: 800px;
    -webkit-animation: flickerAnimation 5s infinite;
    -moz-animation: flickerAnimation 5s infinite;
    -o-animation: flickerAnimation 5s infinite;
    animation: flickerAnimation 5s infinite;
}

#m1 {
    top: 344px;
    left: 100px;
}

#m2 {
    top: 588px;
    left: 750px;
}
#m3 {
    top: 40px;
    left: 330px;
}
#m4 {
    top: 410px;
    left: 520px;
}
#m5 {
    top: 530px;
    left: 240px;
}

#b1 {
    top: 500px;
    left: 390px;
}

#b2 {
    top: 40px;
    left: 810px;
}

#b3 {
    top: 120px;
    left: 90px;
}

#b4 {
    top: 60px;
    left: 540px;
}

#b5 {
    top: 330px;
    left: 310px;
}

#s1 {
    top: 520px;
    left: 40px;
}

#s2 {
    top: 180px;
    left: 780px;
}

#s3 {
    top: 120px;
    left: 270px;
}

#s4 {
    top: 1700px;
    left: 450px;
}

#s5 {
    top: 20px;
    left: 20px;
}

#es1 {
    top: 430px;
    left: 250px;
}

#es2 {
    top: 290px;
    left: 840px;
}

#es3 {
    top: 260px;
    left: 500px;
}

#es4 {
    top: 540px;
    left: 5800px;
}

#es5 {
    top: 500px;
    left: 820px;
}


@keyframes flickerAnimation {
    0%   { opacity:0.9; }
    50%  { opacity:0; }
    100% { opacity:0.9; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:0.9; }
    50%  { opacity:0; }
    100% { opacity:0.9; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:0.9; }
    50%  { opacity:0; }
    100% { opacity:0.9; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:0.9; }
    50%  { opacity:0; }
    100% { opacity:0.9; }
}
.snowball {
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
    box-shadow: 0 0 35px #ffffff;

}

