* {
    box-sizing: border-box;
}

#canvas {
    background-color: #3a5b8c;
    padding: 40px;
    position: relative;
    width: 900px;
    height: 600px;
    margin: auto;
}

form {
    margin-top: 70px;
}

.input {
    border: 2px solid #808080;
    margin-bottom: 15px;
    width: 360px;
}

#intro {
    position: absolute;
    width: 250px;
    height: 382px;
    top: 109px;
    right: 85px;
}

#intro_text {
    position: absolute;
    width: 250px;
    top: 165px;
}

#error {
    height: 30px;
    color: #ec8024;
}